<style>
  .blog-entry {
    margin-bottom: 2rem; /* Adjust this value as needed for desired spacing */
  }
  .read-more {
    color: #e7005e !important;
    text-decoration: none;

  }
  .read-more:hover {
    color: #e7005e !important;
    text-decoration: none; /* Ensure underline is removed on hover */
    font-weight: bold;
  }
</style>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Blog</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.blog.featured %}
        <div class="row blog-entry">
          <div class="col-md-3">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="blog" width="100%">
          </div>
          <div class="col-md-7">
            <h4>{{ item.name }}</h4>
            <p>{{item.date}}</p>
            <p>{{ item.description }}</p>
            <a href="/blog/{{ item.url }}" class="read-more">Read more</a>
          </div>
        </div>
      {% endfor %}
      <!-- Add a more prominent link to the blog page -->
      <p class="mt-4">
        <a href="/blog" style="color: #007bff; text-decoration: none; font-weight: bold;">View All Blogs</a>
      </p>
    {% else %}
      {% for item in site.data.blog.index %}
        <div class="row blog-entry">
          <div class="col-md-4">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="blog" width="100%">
          </div>
          <div class="col-md-8">
            <h4>{{ item.name }}</h4>
            <p>{{item.date}}</p>
            <p>{{ item.description }}</p>
            <a href="/blog/{{ item.url }}" class="read-more">Read more</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
