<style>
  .blog-entry {
    margin-bottom: 2rem; /* Adjust this value as needed for desired spacing */
  }
  .read-more {
    color: #e7005e !important;
    text-decoration: none;
    position: relative; /* Required for the pseudo-element */
    transition: color 0.3s; /* Smooth color transition */
  }
  .read-more::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px; /* Adjust as needed */
    left: 50%;
    background-color: #e7005e;
    transition: width 0.3s, left 0.3s; /* Smooth width and position transition */
  }
  .read-more:hover::after {
    width: 100%;
    left: 0;
  }
  .col-custom-3-5 {
    flex: 0 0 auto;
    width: 28%; /* 3.5 / 12 * 100% */
  }
  .col-custom-8-5 {
    flex: 0 0 auto;
    width: 72%; /* 8.5 / 12 * 100% */
  }
</style>


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Blog</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.blog.featured %}
        <div class="row blog-entry">
          <div class="col-custom-3-5">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="blog" width="100%">
          </div>
          <div class="col-custom-8-5">
            <h4>{{ item.name }}</h4>
            <p>{{item.date}}</p>
            <p>{{ item.description }}</p>
            <a href="/blog/{{ item.url }}" class="read-more">Read more</a>
          </div>
        </div>
      {% endfor %}
      <!-- Add a more prominent link to the blog page -->
      <p class="mt-4">
        <a href="/blog" style="color: #007bff; text-decoration: none; font-weight: bold;">View All Blogs</a>
      </p>
    {% else %}
      {% for item in site.data.blog.index %}
        <div class="row blog-entry">
          <div class="col-custom-3-5">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="blog" width="100%">
          </div>
          <div class="col-custom-8-5">
            <h4>{{ item.name }}</h4>
            <p>{{item.date}}</p>
            <p>{{ item.description }}</p>
            <a href="/blog/{{ item.url }}" class="read-more">Read more</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
