<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer Example</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <style>
    .icon-size {
      font-size: 1.75rem; 
      color: #37393e !important; 
    }
    .icon-size:hover {
      color: #212429 !important; 
    }
    footer p {
      margin: 0;
      font-size: 1rem; 
    }
  </style>
</head>
<body>
  <footer class="pt-5 mt-5 mb-0 text-muted border-top">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto d-flex justify-content-center social-media-icons">
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" class="ms-3 icon-size"><i class="fa-brands fa-{{ item.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </footer>
</body>
</html>
