<style>
  .site-title, .site-description, .menu-item {
  color: #212429 !important;
  }

.site-title:hover, .site-description:hover, .menu-item:hover {
  color: #212429 !important;
  }

  
  .menu-item {
    font-size: 1rem; 
  }
</style>


<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center justify-content-center d-sm-none text-decoration-none site-title">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center d-none d-sm-flex text-decoration-none site-title">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none site-title">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none menu-item" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>

