<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p>{{ item.name }} [<a href="{{ item.url }}">link</a>]</p>
      {% endfor %}
      <!-- Add a more prominent link to the publications page -->
      <p class="mt-4">
        <a href="/publications" style="color: #007bff; text-decoration: none; font-weight: bold;">View All Publications</a>
      </p>
    {% else %}
      {% for item in site.data.publications.index %}
        <p>{{ item.name }} [<a href="{{ item.url }}">link</a>]</p>
      {% endfor %}
    {% endif %}
  </div>
</div>
