<style>
.publication-entry {
  margin-bottom: 2rem; 
}

.publication-entry p {
  margin: 0.5rem 0;
}
  
.links {
  position: relative;
  display: inline-block;
  color: var(--underline-color) !important;
  text-decoration: none;
}

.links:hover {
  color: #212429 !important;
}

.underline-animation {
  position: relative;
  display: inline-block;
  color: var(--underline-color) !important;
  text-decoration: none;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1.5px; 
  bottom: 0;
  left: 50%;
  background-color: var(--underline-color) !important;
  transition: all 0.5s;
}

.underline-animation:hover::after {
  width: 100%;
  left: 0;
}

.author-link {
  color: #209cee;
  text-decoration: none;
}

.author-link:hover {
  color: #212429;
}

.author-name {
  color: #212429;
  text-decoration: none;
}

.author-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

.author-list li {
  display: inline;
}

.author-list li:not(:last-child)::after {
  content: ", ";
}
</style>

<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
      <h3 class="fw-bold border-bottom pb-3 mb-5">Selected Publications</h3>
      {% for item in site.data.publications.featured %}
        <div class="row publication-entry">
          <div class="col-md-4">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="publication" width="100%">
          </div>
          <div class="col-md-8">
            <h4>{{ item.name }}</h4>
            <p>
              {% for author in item.authors %}
                {% if author.name == "K Lokesh" %}
                  <span class="author-name">{{ author.name }}</span>{% if forloop.last == false %}, {% endif %}
                {% else %}
                  <a href="{{ author.url }}" class="author-link">{{ author.name }}</a>{% if forloop.last == false %}, {% endif %}
                {% endif %}
              {% endfor %}
            </p>
            <p>{{ item.publisher }}</p>
            <p><a href="{{ item.link }}" class="links" style="--underline-color: #ff5722;">PDF</a></p>
<!--             <a href="/publications/{{ item.url }}" class="underline-animation" style="--underline-color: #d60056;">Read more</a> -->
          </div>
        </div>
      {% endfor %}
      <p class="mt-4">
        <a href="/publications" style="color: #212429; text-decoration: none;">View all publications</a>
      </p>
    {% else %}
      <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
      {% for item in site.data.publications.index %}
        <div class="row publication-entry">
          <div class="col-md-4">
            <img src="{{ site.github.url }}/{{ item.image }}" alt="publication" width="100%">
          </div>
          <div class="col-md-8">
            <h4>{{ item.name }}</h4>
            <p>
              {% for author in item.authors %}
                {% if author.name == "K Lokesh" %}
                  <span class="author-name">{{ author.name }}</span>{% if forloop.last == false %}, {% endif %}
                {% else %}
                  <a href="{{ author.url }}" class="author-link">{{ author.name }}</a>{% if forloop.last == false %}, {% endif %}
                {% endif %}
              {% endfor %}
            </p>
            <p>{{ item.publisher }}</p>
            <p><a href="{{ item.link }}" class="links" style="--underline-color: #ff5722;">PDF</a></p>
<!--             <a href="/publications/{{ item.url }}" class="underline-animation" style="--underline-color: #d60056;">Read more</a> -->
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
