---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description | markdownify }}</p>
        {% endfor %}
      </div>
    </div>
    <!-- Uncomment if needed
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    -->
    <div class="text-center mt-5">
      <a href="{{ site.github.url }}/katikapalli_lokesh.pdf" class="btn-download-cv">Download CV</a>
    </div>
  </div>
</div>

<style>
  .btn-download-cv {
    display: inline-block;
    padding: 4px 8px; /* Reduced height */
    font-size: 16px; /* Slightly smaller font size */
    color: #212429; /* Text color */
    text-decoration: none;
    border: 2px solid #212429; /* Outline color */
    border-radius: 25px; /* Even smoother edges */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  .btn-download-cv:hover {
    background-color: #212429; /* Fill color on hover */
    color: #fff !important; /* Font color on hover with !important */
  }
</style>
